@mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin size($width, $height: false) {
  @if $height == false {
    width: $width;
  } @else {
    width: $width;
    height: $height;
  }
}
