.features {
  padding: 50px 12%;
  font-size: 22px;

  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

    @media (width < 600px) {
      padding: 10px 0;
    }

    &:nth-child(2), &:nth-child(4) {
      @media (width < 600px) {
        flex-direction: column-reverse;
      }
    }
  }

  &__text-col,
  &__img-col {
    flex-basis: 50%;
    margin-bottom: 20px;

    @media (width < 600px) {
      flex-basis: 100%;
    }
  }

	&__text-col {

		h2 {
			font-size: 50px;
			font-weight: 600;
			margin-bottom: 20px;

      @media (width < 600px ) {
        font-size: 30px;
        margin-top: 80px;
      }
		}

    p {
      @media (width < 600px) {
        font-size: 15px;
      }
    }
	}

  &__img-col {

    img {
      display: block;
      width: 90%;
      margin: auto;
    }
  }
}
